<footer>
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-4">
              <div class="site-logo">
                <h2>ST.MARIA & ST.GEORGE</h2>
              </div>
            </div>
            <div class="col-md-8">
              <ul class="social-icons">
                <li><a href="https://www.facebook.com/pages/category/Pizza-Place/Santa-maria-Saint-george-310128165701734/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="https://www.instagram.com/st.maria_st.george/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col ">
              <div class="copyright">
                <p><small>Copyright © Jermiah Habashy</a> 2023</small></p>
              </div>
            </div>
          </div>
      </div>
    </footer>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/aos/aos.js"></script>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../static/assets/js/main.js"></script>


<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    </body>
</html>